:host {
  display: flex;
  margin: 0;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden; }
  :host md-sidenav-container.td-layout-manage-list > md-sidenav.mat-sidenav-opened, :host md-sidenav-container.td-layout-manage-list > md-sidenav.mat-sidenav-opening, :host md-sidenav-container.td-layout-manage-list > md-sidenav.mat-sidenav-closed, :host md-sidenav-container.td-layout-manage-list > md-sidenav.mat-sidenav-closing {
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }
  :host .list {
    text-align: start; }

:host /deep/ md-sidenav-container.td-layout-manage-list {
  /* Ensure the left sidenav is a flex column & 100% height */ }
  :host /deep/ md-sidenav-container.td-layout-manage-list > .mat-sidenav-content {
    flex-grow: 1; }
  :host /deep/ md-sidenav-container.td-layout-manage-list > md-sidenav {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

:host /deep/ md-nav-list a[md-list-item] .mat-list-item-content {
  font-size: 14px; }

:host /deep/ .mat-toolbar {
  font-weight: 400; }
