/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
:host {
  position: relative;
  display: block;
  text-align: center;
  min-width: 40px;
  height: 40px; }
  :host.td-notification-hidden {
    min-width: 0; }

.td-notification-count {
  line-height: 21px;
  width: 20px;
  height: 20px;
  position: absolute;
  font-size: 10px;
  font-weight: 600;
  border-radius: 50%;
  z-index: 1; }
  .td-notification-count.td-notification-center-x {
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px; }
  .td-notification-count.td-notification-center-y {
    margin-top: auto;
    margin-bottom: auto;
    top: 0px;
    bottom: 0px; }
  .td-notification-count.td-notification-top {
    top: 0px; }
  .td-notification-count.td-notification-bottom {
    bottom: 0px; }
  [dir='ltr'] .td-notification-count.td-notification-before {
    left: 0px; }
  [dir='rtl'] .td-notification-count.td-notification-before {
    right: 0px; }
  [dir='ltr'] .td-notification-count.td-notification-after {
    right: 0px; }
  [dir='rtl'] .td-notification-count.td-notification-after {
    left: 0px; }
  .td-notification-count.td-notification-no-count {
    width: 8px;
    height: 8px; }
    .td-notification-count.td-notification-no-count.td-notification-top {
      top: 8px; }
    .td-notification-count.td-notification-no-count.td-notification-bottom {
      bottom: 8px; }
    [dir='ltr'] .td-notification-count.td-notification-no-count.td-notification-before {
      left: 8px; }
    [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      right: 8px; }
    [dir='ltr'] .td-notification-count.td-notification-no-count.td-notification-after {
      right: 8px; }
    [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      left: 8px; }
  /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
    right: 0px;
    left: auto; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-before bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-before bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      left: 0px;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      left: 0px;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-before {
      left: 0px;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-before bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-before bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
    left: 0px;
    right: auto; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-after bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-after bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      right: 0px;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      right: 0px;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-after {
      right: 0px;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-after bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-after bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
    right: 8px;
    left: auto; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      right: auto;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      left: 8px;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      left: 8px;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before {
      left: 8px;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-before bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
    left: 8px;
    right: auto; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      left: auto;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      right: 8px;
      unicode-bidi: embed; }
    body[dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      right: 8px;
      unicode-bidi: embed; }
    [dir=rtl] /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after {
      right: 8px;
      unicode-bidi: embed; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    /deep/ [dir='rtl'] .td-notification-count.td-notification-no-count.td-notification-after bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }

.td-notification-content, .td-notification-content /deep/ > * {
  line-height: 40px; }
