:host {
  display: block; }

.td-paging-bar {
  height: 48px; }
  .td-paging-bar /deep/ > * {
    margin: 0 10px; }

[md-icon-button] {
  font-size: 12px;
  font-weight: normal; }

/deep/ md-select .mat-select-trigger {
  min-width: 44px;
  font-size: 12px; }

/deep/ md-select .mat-select-value {
  top: auto;
  position: static; }

/deep/ md-select .mat-select-underline {
  display: none; }
