.td-loading-wrapper {
  position: relative;
  display: block; }
  .td-loading-wrapper.td-fullscreen {
    position: inherit; }
  .td-loading-wrapper.td-overlay .td-loading {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000; }
    .td-loading-wrapper.td-overlay .td-loading md-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0; }
