.td-step-header {
  position: relative;
  outline: none; }
  .td-step-header:hover:not(.mat-disabled) {
    cursor: pointer; }
  .td-step-header .td-step-header-content {
    height: 72px; }
  .td-step-header md-icon.td-edit-icon {
    margin: 0 8px; }
  .td-step-header md-icon.mat-warn {
    font-size: 24px;
    height: 24px;
    width: 24px; }
  .td-step-header md-icon.mat-complete {
    position: relative;
    left: -2px;
    top: 2px;
    font-size: 28px;
    height: 24px;
    width: 24px; }
  .td-step-header .td-circle {
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 99%;
    text-align: center;
    flex: none; }
    .td-step-header .td-circle md-icon {
      margin-top: 2px;
      font-weight: bold; }
  .td-step-header .td-triangle > md-icon {
    font-size: 25px; }
  .td-step-header .td-complete {
    font-size: 0; }
  /deep/ :not([dir='rtl']) .td-step-header .td-circle, /deep/ :not([dir='rtl'])
  .td-step-header .td-triangle, /deep/ :not([dir='rtl'])
  .td-step-header .td-complete {
    margin-left: 8px;
    margin-right: 0px; }
  /deep/ [dir='rtl'] .td-step-header .td-circle, /deep/ [dir='rtl']
  .td-step-header .td-triangle, /deep/ [dir='rtl']
  .td-step-header .td-complete {
    margin-left: 0px;
    margin-right: 8px; }
  .td-step-header .td-circle,
  .td-step-header .td-complete {
    font-size: 14px; }
  .td-step-header .td-step-label-wrapper {
    padding-left: 8px;
    padding-right: 8px; }
  .td-step-header .td-step-sublabel {
    line-height: 14px;
    font-weight: normal; }
