:host {
  display: block; }

.td-json-formatter-wrapper {
  padding-top: 2px;
  padding-bottom: 2px; }
  .td-json-formatter-wrapper .td-key.td-key-node:hover {
    cursor: pointer; }
  .td-json-formatter-wrapper .td-object-children .td-key,
  .td-json-formatter-wrapper .td-object-children .td-object-children {
    padding-left: 24px; }
    /deep/ [dir='rtl'] .td-json-formatter-wrapper .td-object-children .td-key, /deep/ [dir='rtl']
    .td-json-formatter-wrapper .td-object-children .td-object-children {
      padding-right: 24px;
      padding-left: 0; }
    .td-json-formatter-wrapper .td-object-children .td-key.td-key-leaf,
    .td-json-formatter-wrapper .td-object-children .td-object-children.td-key-leaf {
      padding-left: 48px; }
      /deep/ [dir='rtl'] .td-json-formatter-wrapper .td-object-children .td-key.td-key-leaf, /deep/ [dir='rtl']
      .td-json-formatter-wrapper .td-object-children .td-object-children.td-key-leaf {
        padding-right: 48px;
        padding-left: 0; }
  .td-json-formatter-wrapper .value {
    margin-left: 5px; }
    /deep/ [dir='rtl'] .td-json-formatter-wrapper .value {
      padding-right: 5px;
      padding-left: 0; }
    .td-json-formatter-wrapper .value .td-empty {
      opacity: .5;
      text-decoration: line-through; }
    .td-json-formatter-wrapper .value .string {
      word-break: break-word; }
    .td-json-formatter-wrapper .value .date {
      word-break: break-word; }
