:host {
  width: 100%; }
  :host md-toolbar {
    padding: 16px; }
    :host md-toolbar.td-toolbar-background {
      background-repeat: no-repeat;
      background-size: cover; }
    :host md-toolbar /deep/ > .mat-toolbar-layout > md-toolbar-row {
      height: auto !important; }
