.mat-table-container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

table.td-data-table.mat-selectable tbody > tr.td-data-table-row {
  transition: background-color 0.2s; }

table.td-data-table.mat-selectable td.td-data-table-cell:first-child,
table.td-data-table.mat-selectable th.td-data-table-column:first-child {
  width: 20px;
  padding: 0 24px; }

table.td-data-table.mat-selectable td.td-data-table-cell:nth-child(2),
table.td-data-table.mat-selectable th.td-data-table-column:nth-child(2) {
  padding-left: 0px; }

table.td-data-table td.mat-checkbox-cell,
table.td-data-table th.mat-checkbox-column {
  width: 18px;
  font-size: 0 !important; }
  table.td-data-table td.mat-checkbox-cell md-pseudo-checkbox,
  table.td-data-table th.mat-checkbox-column md-pseudo-checkbox {
    width: 18px;
    height: 18px; }
    /deep/ table.td-data-table td.mat-checkbox-cell md-pseudo-checkbox.mat-pseudo-checkbox-checked::after, /deep/
    table.td-data-table th.mat-checkbox-column md-pseudo-checkbox.mat-pseudo-checkbox-checked::after {
      top: 3px !important;
      left: 1px !important;
      width: 11px !important;
      height: 4px !important; }
  table.td-data-table td.mat-checkbox-cell md-checkbox /deep/ .mat-checkbox-inner-container,
  table.td-data-table th.mat-checkbox-column md-checkbox /deep/ .mat-checkbox-inner-container {
    width: 18px;
    height: 18px;
    margin: 0; }
