:host {
  white-space: nowrap;
  position: relative;
  padding: 0;
  vertical-align: middle;
  text-align: left; }
  :host > .td-data-table-heading {
    padding: 0 28px; }
  :host:first-child > .td-data-table-heading {
    padding-left: 24px;
    padding-right: initial; }
    html[dir=rtl] :host:first-child > .td-data-table-heading {
      padding-left: initial;
      unicode-bidi: embed; }
    body[dir=rtl] :host:first-child > .td-data-table-heading {
      padding-left: initial;
      unicode-bidi: embed; }
    [dir=rtl] :host:first-child > .td-data-table-heading {
      padding-left: initial;
      unicode-bidi: embed; }
    :host:first-child > .td-data-table-heading bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:first-child > .td-data-table-heading bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] :host:first-child > .td-data-table-heading {
      padding-right: 24px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:first-child > .td-data-table-heading {
      padding-right: 24px;
      unicode-bidi: embed; }
    [dir=rtl] :host:first-child > .td-data-table-heading {
      padding-right: 24px;
      unicode-bidi: embed; }
    :host:first-child > .td-data-table-heading bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:first-child > .td-data-table-heading bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  :host:last-child > .td-data-table-heading {
    padding-left: 28px;
    padding-right: 24px; }
    html[dir=rtl] :host:last-child > .td-data-table-heading {
      padding-left: 24px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:last-child > .td-data-table-heading {
      padding-left: 24px;
      unicode-bidi: embed; }
    [dir=rtl] :host:last-child > .td-data-table-heading {
      padding-left: 24px;
      unicode-bidi: embed; }
    :host:last-child > .td-data-table-heading bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:last-child > .td-data-table-heading bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] :host:last-child > .td-data-table-heading {
      padding-right: 28px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:last-child > .td-data-table-heading {
      padding-right: 28px;
      unicode-bidi: embed; }
    [dir=rtl] :host:last-child > .td-data-table-heading {
      padding-right: 28px;
      unicode-bidi: embed; }
    :host:last-child > .td-data-table-heading bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:last-child > .td-data-table-heading bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  :host mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px !important;
    line-height: 16px !important; }
    :host mat-icon.td-data-table-sort-icon {
      opacity: 0;
      -webkit-transition: -webkit-transform 0.25s;
      transition: -webkit-transform 0.25s;
      transition: transform 0.25s;
      transition: transform 0.25s, -webkit-transform 0.25s;
      position: absolute;
      top: 0; }
      :host mat-icon.td-data-table-sort-icon.mat-asc {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      :host mat-icon.td-data-table-sort-icon.mat-desc {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
  :host:hover.mat-sortable mat-icon.td-data-table-sort-icon,
  :host.mat-active.mat-sortable mat-icon.td-data-table-sort-icon {
    opacity: 1; }
  html[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  body[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  [dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  :host bdo[dir=rtl] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  :host bdo[dir=ltr] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  :host > * {
    vertical-align: middle; }
  :host.mat-clickable {
    cursor: pointer; }
    :host.mat-clickable:focus {
      outline: none; }
  :host .td-data-table-heading {
    display: inline-block;
    position: relative; }
  :host.mat-numeric {
    text-align: right; }
    html[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    body[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    [dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    :host.mat-numeric bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host.mat-numeric bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    :host.mat-numeric mat-icon.td-data-table-sort-icon {
      margin-left: -22px;
      margin-right: initial; }
      html[dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-left: initial;
        unicode-bidi: embed; }
      body[dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-left: initial;
        unicode-bidi: embed; }
      [dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-left: initial;
        unicode-bidi: embed; }
      :host.mat-numeric mat-icon.td-data-table-sort-icon bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host.mat-numeric mat-icon.td-data-table-sort-icon bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
      html[dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-right: -22px;
        unicode-bidi: embed; }
      body[dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-right: -22px;
        unicode-bidi: embed; }
      [dir=rtl] :host.mat-numeric mat-icon.td-data-table-sort-icon {
        margin-right: -22px;
        unicode-bidi: embed; }
      :host.mat-numeric mat-icon.td-data-table-sort-icon bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host.mat-numeric mat-icon.td-data-table-sort-icon bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
  :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
    margin-left: 6px;
    margin-right: initial; }
    html[dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-left: initial;
      unicode-bidi: embed; }
    body[dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-left: initial;
      unicode-bidi: embed; }
    [dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-left: initial;
      unicode-bidi: embed; }
    :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-right: 6px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-right: 6px;
      unicode-bidi: embed; }
    [dir=rtl] :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon {
      margin-right: 6px;
      unicode-bidi: embed; }
    :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:not(.mat-numeric) mat-icon.td-data-table-sort-icon bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }

/*# sourceMappingURL=data-table-column.component.css.map */
