/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
:host {
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  padding: 0 28px 0 28px;
  position: relative;
  vertical-align: middle;
  text-align: left; }
  [dir='ltr'] :host:first-child {
    padding-left: 24px; }
  [dir='rtl'] :host:first-child {
    padding-right: 24px; }
  [dir='ltr'] :host:last-child {
    padding-right: 24px; }
  [dir='rtl'] :host:last-child {
    padding-left: 24px; }
  :host md-icon {
    height: 16px;
    width: 16px;
    font-size: 16px !important;
    line-height: 16px !important; }
    :host md-icon.td-data-table-sort-icon {
      opacity: 0;
      transition: transform 0.25s, opacity 0.25s; }
      :host md-icon.td-data-table-sort-icon.mat-asc {
        transform: rotate(0deg); }
      :host md-icon.td-data-table-sort-icon.mat-desc {
        transform: rotate(180deg); }
  :host:hover.mat-sortable md-icon.td-data-table-sort-icon,
  :host.mat-active.mat-sortable md-icon.td-data-table-sort-icon {
    opacity: 1; }
  html[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  body[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  [dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  :host bdo[dir=rtl] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  :host bdo[dir=ltr] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  :host > * {
    vertical-align: middle; }
  :host.mat-clickable {
    cursor: pointer; }
    :host.mat-clickable:focus {
      outline: none; }
  :host md-icon.td-data-table-sort-icon {
    position: absolute; }
  :host.mat-numeric {
    text-align: right; }
    html[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    body[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    [dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    :host.mat-numeric bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host.mat-numeric bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    [dir='ltr'] :host.mat-numeric md-icon.td-data-table-sort-icon {
      margin-left: -22px; }
    [dir='rtl'] :host.mat-numeric md-icon.td-data-table-sort-icon {
      margin-right: -22px; }
  [dir='ltr'] :host:not(.mat-numeric) md-icon.td-data-table-sort-icon {
    margin-left: 6px; }
  [dir='rtl'] :host:not(.mat-numeric) md-icon.td-data-table-sort-icon {
    margin-right: 6px; }
