.td-dialog-title {
  margin-top: 0;
  margin-bottom: 20px; }

.td-dialog-content {
  margin-bottom: 16px; }

.td-dialog-actions {
  position: relative;
  top: 16px;
  left: 16px; }
  /deep/ [dir='rtl'] .td-dialog-actions {
    right: 16px;
    left: auto; }

:host {
  display: block; }
  :host .td-dialog-actions /deep/ button {
    text-transform: uppercase;
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 64px; }
    [dir='rtl'] :host .td-dialog-actions /deep/ button {
      margin-right: 8px;
      margin-left: inherit; }
