:host {
  display: block; }

.td-search-box {
  height: 64px; }
  .td-search-box td-search-input {
    margin-left: 12px; }
    .td-search-box td-search-input /deep/ .mat-input-placeholder.mat-focused {
      visibility: hidden; }
