body .radius-none {
  border-radius: 0; }

body .overflow-hidden {
  overflow: hidden; }

body .overflow-auto {
  overflow: auto; }

body .block {
  display: block; }

body .inline-block {
  display: inline-block; }

body .relative {
  position: relative; }

body .fixed {
  position: fixed; }

body .height-auto {
  min-height: 0; }

body .z-3 {
  z-index: 3; }

body .z-2 {
  z-index: 2; }

body .z-1 {
  z-index: 1; }

body .focus-weight:focus {
  outline: 0;
  font-weight: 700; }

body .cursor-pointer:hover {
  cursor: pointer; }

body .pad {
  padding: 20px; }

body .pad-xxl {
  padding: 60px; }

body .pad-xl {
  padding: 50px; }

body .pad-lg {
  padding: 40px; }

body .pad-md {
  padding: 30px; }

body .pad-sm {
  padding: 10px; }

body .pad-xs {
  padding: 5px; }

body .pad-none {
  padding: 0px; }

body .pad-top {
  padding-top: 20px; }

body .pad-top-xxl {
  padding-top: 60px; }

body .pad-top-xl {
  padding-top: 50px; }

body .pad-top-lg {
  padding-top: 40px; }

body .pad-top-md {
  padding-top: 30px; }

body .pad-top-sm {
  padding-top: 10px; }

body .pad-top-xs {
  padding-top: 5px; }

body .pad-top-none {
  padding-top: 0px; }

body .pad-right {
  padding-right: 20px; }

body .pad-right-xxl {
  padding-right: 60px; }

body .pad-right-xl {
  padding-right: 50px; }

body .pad-right-lg {
  padding-right: 40px; }

body .pad-right-md {
  padding-right: 30px; }

body .pad-right-sm {
  padding-right: 10px; }

body .pad-right-xs {
  padding-right: 5px; }

body .pad-right-none {
  padding-right: 0px; }

body .pad-bottom {
  padding-bottom: 20px; }

body .pad-bottom-button {
  padding-bottom: 100px; }

body .pad-bottom-xxl {
  padding-bottom: 60px; }

body .pad-bottom-xl {
  padding-bottom: 50px; }

body .pad-bottom-lg {
  padding-bottom: 40px; }

body .pad-bottom-md {
  padding-bottom: 30px; }

body .pad-bottom-sm {
  padding-bottom: 10px; }

body .pad-bottom-xs {
  padding-bottom: 5px; }

body .pad-bottom-none {
  padding-bottom: 0px; }

body .pad-left {
  padding-left: 20px; }

body .pad-left-xxl {
  padding-left: 60px; }

body .pad-left-xl {
  padding-left: 50px; }

body .pad-left-lg {
  padding-left: 40px; }

body .pad-left-md {
  padding-left: 30px; }

body .pad-left-sm {
  padding-left: 10px; }

body .pad-left-xs {
  padding-left: 5px; }

body .pad-left-none {
  padding-left: 0px; }

body .pull {
  margin: -20px; }

body .pull-xxl {
  margin: -40px; }

body .pull-xl {
  margin: -30px; }

body .pull-lg {
  margin: -20px; }

body .pull-md {
  margin: -15px; }

body .pull-sm {
  margin: -10px; }

body .pull-xs {
  margin: -5px; }

body .pull-none {
  margin: -0px; }

body .pull-top {
  margin-top: -20px; }

body .pull-top-xxl {
  margin-top: -40px; }

body .pull-top-xl {
  margin-top: -30px; }

body .pull-top-lg {
  margin-top: -20px; }

body .pull-top-md {
  margin-top: -15px; }

body .pull-top-sm {
  margin-top: -10px; }

body .pull-top-xs {
  margin-top: -5px; }

body .pull-top-none {
  margin-top: -0px; }

body .pull-right-xxl {
  margin-right: -40px; }

body .pull-right-xl {
  margin-right: -30px; }

body .pull-right-lg {
  margin-right: -20px; }

body .pull-right-md {
  margin-right: -15px; }

body .pull-right-sm {
  margin-right: -10px; }

body .pull-right-xs {
  margin-right: -5px; }

body .pull-right-none {
  margin-right: -0px; }

body .pull-bottom {
  margin-bottom: -20px; }

body .pull-bottom-xxxl {
  margin-bottom: -100px; }

body .pull-bottom-xxl {
  margin-bottom: -40px; }

body .pull-bottom-xl {
  margin-bottom: -30px; }

body .pull-bottom-lg {
  margin-bottom: -20px; }

body .pull-bottom-md {
  margin-bottom: -15px; }

body .pull-bottom-sm {
  margin-bottom: -10px; }

body .pull-bottom-xs {
  margin-bottom: -5px; }

body .pull-bottom-none {
  margin-bottom: -0px; }

body .pull-left-xxl {
  margin-left: -40px; }

body .pull-left-xl {
  margin-left: -30px; }

body .pull-left-lg {
  margin-left: -20px; }

body .pull-left-md {
  margin-left: -15px; }

body .pull-left-sm {
  margin-left: -10px; }

body .pull-left-xs {
  margin-left: -5px; }

body .pull-left-none {
  margin-left: -0px; }

body .push {
  margin: 20px; }

body .push-xxl {
  margin: 60px; }

body .push-xl {
  margin: 50px; }

body .push-lg {
  margin: 40px; }

body .push-md {
  margin: 30px; }

body .push-sm {
  margin: 10px; }

body .push-xs {
  margin: 5px; }

body .push-none {
  margin: 0px; }

body .push-top {
  margin-top: 20px; }

body .push-top-xxl {
  margin-top: 60px; }

body .push-top-xl {
  margin-top: 50px; }

body .push-top-lg {
  margin-top: 40px; }

body .push-top-md {
  margin-top: 30px; }

body .push-top-sm {
  margin-top: 10px; }

body .push-top-xs {
  margin-top: 5px; }

body .push-top-none {
  margin-top: 0px; }

body .push-right {
  margin-right: 20px; }

body .push-right-xxl {
  margin-right: 60px; }

body .push-right-xl {
  margin-right: 50px; }

body .push-right-lg {
  margin-right: 40px; }

body .push-right-md {
  margin-right: 30px; }

body .push-right-sm {
  margin-right: 10px; }

body .push-right-xs {
  margin-right: 5px; }

body .push-right-none {
  margin-right: 0px; }

body .push-bottom {
  margin-bottom: 20px; }

body .push-bottom-button {
  margin-bottom: 100px; }

body .push-bottom-xxl {
  margin-bottom: 60px; }

body .push-bottom-xl {
  margin-bottom: 50px; }

body .push-bottom-lg {
  margin-bottom: 40px; }

body .push-bottom-md {
  margin-bottom: 30px; }

body .push-bottom-sm {
  margin-bottom: 10px; }

body .push-bottom-xs {
  margin-bottom: 5px; }

body .push-bottom-none {
  margin-bottom: 0px; }

body .push-left {
  margin-left: 20px; }

body .push-left-xxl {
  margin-left: 60px; }

body .push-left-xl {
  margin-left: 50px; }

body .push-left-lg {
  margin-left: 40px; }

body .push-left-md {
  margin-left: 30px; }

body .push-left-sm {
  margin-left: 10px; }

body .push-left-xs {
  margin-left: 5px; }

body .push-left-none {
  margin-left: 0px; }

.size-12 {
  height: 12px;
  width: 12px; }

.size-16 {
  height: 16px;
  width: 16px; }

.size-24 {
  height: 24px;
  width: 24px; }

.size-32 {
  height: 32px;
  width: 32px; }

.size-50 {
  height: 50px;
  width: 50px; }

.size-64 {
  height: 64px;
  width: 64px; }

.size-72 {
  height: 72px;
  width: 72px; }

.size-100 {
  height: 100px;
  width: 100px; }

.size-128 {
  height: 128px;
  width: 128px; }

.size-256 {
  height: 256px;
  width: 256px; }

.size-height-12 {
  height: 12px;
  width: auto; }

.size-height-16 {
  height: 16px;
  width: auto; }

.size-height-24 {
  height: 24px;
  width: auto; }

.size-height-32 {
  height: 32px;
  width: auto; }

.size-height-50 {
  height: 50px;
  width: auto; }

.size-height-64 {
  height: 64px;
  width: auto; }

.size-height-72 {
  height: 72px;
  width: auto; }

.size-height-100 {
  height: 100px;
  width: auto; }

.size-height-128 {
  height: 128px;
  width: auto; }

.size-height-256 {
  height: 256px;
  width: auto; }

.size-width-12 {
  width: 12px;
  height: auto; }

.size-width-16 {
  width: 16px;
  height: auto; }

.size-width-24 {
  width: 24px;
  height: auto; }

.size-width-32 {
  width: 32px;
  height: auto; }

.size-width-50 {
  width: 50px;
  height: auto; }

.size-width-64 {
  width: 64px;
  height: auto; }

.size-width-72 {
  width: 72px;
  height: auto; }

.size-width-100 {
  width: 100px;
  height: auto; }

.size-width-128 {
  width: 128px;
  height: auto; }

.size-width-256 {
  width: 256px;
  height: auto; }

body h1 > small, body h2 > small, body h3 > small, body h4 > small, body h5 > small, body h6 > small {
  font-size: 60%; }

body .text-normal {
  font-style: normal; }

body .text-center {
  text-align: center; }

body .text-left {
  text-align: left; }

body .text-right {
  text-align: right; }

body .text-normal {
  font-style: normal; }

body .text-xs,
body .text-sm,
body .text-md,
body .text-lg {
  text-rendering: optimizeLegibility; }

body .text-micro {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px; }

body .text-xs {
  font-size: 50%; }

body .text-sm {
  font-size: 70%; }

body .text-md {
  font-size: 80%; }

body .text-lg {
  font-size: 110%; }

body .text-xl {
  font-size: 120%; }

body .text-xxl {
  font-size: 130%; }

body .text-30 {
  font-size: 30px; }

body .text-super {
  font-size: 60px; }

body .text-wrap {
  white-space: normal; }

body .text-break {
  word-break: break-word; }

body .text-upper {
  text-transform: uppercase; }

body .text-lower {
  text-transform: lowercase; }

body .text-caps {
  text-transform: capitalize; }

body .text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
