.radius-none {
  border-radius: 0; }

.overflow-hidden {
  overflow: hidden; }

.overflow-auto {
  overflow: auto; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.relative {
  position: relative; }

.fixed {
  position: fixed; }

.height-auto {
  min-height: 0; }

.z-3 {
  z-index: 3; }

.z-2 {
  z-index: 2; }

.z-1 {
  z-index: 1; }

.focus-weight:focus {
  outline: 0;
  font-weight: 700; }

.pad {
  padding: 20px; }

.pad-xxl {
  padding: 60px; }

.pad-xl {
  padding: 50px; }

.pad-lg {
  padding: 40px; }

.pad-md {
  padding: 30px; }

.pad-sm {
  padding: 10px; }

.pad-xs {
  padding: 5px; }

.pad-none {
  padding: 0px; }

.pad-top {
  padding-top: 20px; }

.pad-top-xxl {
  padding-top: 60px; }

.pad-top-xl {
  padding-top: 50px; }

.pad-top-lg {
  padding-top: 40px; }

.pad-top-md {
  padding-top: 30px; }

.pad-top-sm {
  padding-top: 10px; }

.pad-top-xs {
  padding-top: 5px; }

.pad-top-none {
  padding-top: 0px; }

.pad-right {
  padding-right: 20px; }

.pad-right-xxl {
  padding-right: 60px; }

.pad-right-xl {
  padding-right: 50px; }

.pad-right-lg {
  padding-right: 40px; }

.pad-right-md {
  padding-right: 30px; }

.pad-right-sm {
  padding-right: 10px; }

.pad-right-xs {
  padding-right: 5px; }

.pad-right-none {
  padding-right: 0px; }

.pad-bottom {
  padding-bottom: 20px; }

.pad-bottom-button {
  padding-bottom: 100px; }

.pad-bottom-xxl {
  padding-bottom: 60px; }

.pad-bottom-xl {
  padding-bottom: 50px; }

.pad-bottom-lg {
  padding-bottom: 40px; }

.pad-bottom-md {
  padding-bottom: 30px; }

.pad-bottom-sm {
  padding-bottom: 10px; }

.pad-bottom-xs {
  padding-bottom: 5px; }

.pad-bottom-none {
  padding-bottom: 0px; }

.pad-left {
  padding-left: 20px; }

.pad-left-xxl {
  padding-left: 60px; }

.pad-left-xl {
  padding-left: 50px; }

.pad-left-lg {
  padding-left: 40px; }

.pad-left-md {
  padding-left: 30px; }

.pad-left-sm {
  padding-left: 10px; }

.pad-left-xs {
  padding-left: 5px; }

.pad-left-none {
  padding-left: 0px; }

.pull {
  margin: -20px; }

.pull-xxl {
  margin: -40px; }

.pull-xl {
  margin: -30px; }

.pull-lg {
  margin: -20px; }

.pull-md {
  margin: -15px; }

.pull-sm {
  margin: -10px; }

.pull-xs {
  margin: -5px; }

.pull-none {
  margin: -0px; }

.pull-top {
  margin-top: -20px; }

.pull-top-xxl {
  margin-top: -40px; }

.pull-top-xl {
  margin-top: -30px; }

.pull-top-lg {
  margin-top: -20px; }

.pull-top-md {
  margin-top: -15px; }

.pull-top-sm {
  margin-top: -10px; }

.pull-top-xs {
  margin-top: -5px; }

.pull-top-none {
  margin-top: -0px; }

.pull-right-xxl {
  margin-right: -40px; }

.pull-right-xl {
  margin-right: -30px; }

.pull-right-lg {
  margin-right: -20px; }

.pull-right-md {
  margin-right: -15px; }

.pull-right-sm {
  margin-right: -10px; }

.pull-right-xs {
  margin-right: -5px; }

.pull-right-none {
  margin-right: -0px; }

.pull-bottom {
  margin-bottom: -20px; }

.pull-bottom-xxxl {
  margin-bottom: -100px; }

.pull-bottom-xxl {
  margin-bottom: -40px; }

.pull-bottom-xl {
  margin-bottom: -30px; }

.pull-bottom-lg {
  margin-bottom: -20px; }

.pull-bottom-md {
  margin-bottom: -15px; }

.pull-bottom-sm {
  margin-bottom: -10px; }

.pull-bottom-xs {
  margin-bottom: -5px; }

.pull-bottom-none {
  margin-bottom: -0px; }

.pull-left-xxl {
  margin-left: -40px; }

.pull-left-xl {
  margin-left: -30px; }

.pull-left-lg {
  margin-left: -20px; }

.pull-left-md {
  margin-left: -15px; }

.pull-left-sm {
  margin-left: -10px; }

.pull-left-xs {
  margin-left: -5px; }

.pull-left-none {
  margin-left: -0px; }

.push {
  margin: 20px; }

.push-xxl {
  margin: 60px; }

.push-xl {
  margin: 50px; }

.push-lg {
  margin: 40px; }

.push-md {
  margin: 30px; }

.push-sm {
  margin: 10px; }

.push-xs {
  margin: 5px; }

.push-none {
  margin: 0px; }

.push-top {
  margin-top: 20px; }

.push-top-xxl {
  margin-top: 60px; }

.push-top-xl {
  margin-top: 50px; }

.push-top-lg {
  margin-top: 40px; }

.push-top-md {
  margin-top: 30px; }

.push-top-sm {
  margin-top: 10px; }

.push-top-xs {
  margin-top: 5px; }

.push-top-none {
  margin-top: 0px; }

.push-right {
  margin-right: 20px; }

.push-right-xxl {
  margin-right: 60px; }

.push-right-xl {
  margin-right: 50px; }

.push-right-lg {
  margin-right: 40px; }

.push-right-md {
  margin-right: 30px; }

.push-right-sm {
  margin-right: 10px; }

.push-right-xs {
  margin-right: 5px; }

.push-right-none {
  margin-right: 0px; }

.push-bottom {
  margin-bottom: 20px; }

.push-bottom-button {
  margin-bottom: 100px; }

.push-bottom-xxl {
  margin-bottom: 60px; }

.push-bottom-xl {
  margin-bottom: 50px; }

.push-bottom-lg {
  margin-bottom: 40px; }

.push-bottom-md {
  margin-bottom: 30px; }

.push-bottom-sm {
  margin-bottom: 10px; }

.push-bottom-xs {
  margin-bottom: 5px; }

.push-bottom-none {
  margin-bottom: 0px; }

.push-left {
  margin-left: 20px; }

.push-left-xxl {
  margin-left: 60px; }

.push-left-xl {
  margin-left: 50px; }

.push-left-lg {
  margin-left: 40px; }

.push-left-md {
  margin-left: 30px; }

.push-left-sm {
  margin-left: 10px; }

.push-left-xs {
  margin-left: 5px; }

.push-left-none {
  margin-left: 0px; }

.size-12 {
  height: 12px;
  width: 12px; }

.size-16 {
  height: 16px;
  width: 16px; }

.size-24 {
  height: 24px;
  width: 24px; }

.size-32 {
  height: 32px;
  width: 32px; }

.size-50 {
  height: 50px;
  width: 50px; }

.size-64 {
  height: 64px;
  width: 64px; }

.size-72 {
  height: 72px;
  width: 72px; }

.size-100 {
  height: 100px;
  width: 100px; }

.size-128 {
  height: 128px;
  width: 128px; }

.size-256 {
  height: 256px;
  width: 256px; }

.size-height-12 {
  height: 12px;
  width: auto; }

.size-height-16 {
  height: 16px;
  width: auto; }

.size-height-24 {
  height: 24px;
  width: auto; }

.size-height-32 {
  height: 32px;
  width: auto; }

.size-height-50 {
  height: 50px;
  width: auto; }

.size-height-64 {
  height: 64px;
  width: auto; }

.size-height-72 {
  height: 72px;
  width: auto; }

.size-height-100 {
  height: 100px;
  width: auto; }

.size-height-128 {
  height: 128px;
  width: auto; }

.size-height-256 {
  height: 256px;
  width: auto; }

.size-width-12 {
  width: 12px;
  height: auto; }

.size-width-16 {
  width: 16px;
  height: auto; }

.size-width-24 {
  width: 24px;
  height: auto; }

.size-width-32 {
  width: 32px;
  height: auto; }

.size-width-50 {
  width: 50px;
  height: auto; }

.size-width-64 {
  width: 64px;
  height: auto; }

.size-width-72 {
  width: 72px;
  height: auto; }

.size-width-100 {
  width: 100px;
  height: auto; }

.size-width-128 {
  width: 128px;
  height: auto; }

.size-width-256 {
  width: 256px;
  height: auto; }

h1 > small, h2 > small, h3 > small, h4 > small, h5 > small, h6 > small {
  font-size: 60%; }

.text-normal {
  font-style: normal; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-normal {
  font-style: normal; }

.text-xs,
.text-sm,
.text-md,
.text-lg {
  text-rendering: optimizeLegibility; }

.text-micro {
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px; }

.text-xs {
  font-size: 50%; }

.text-sm {
  font-size: 70%; }

.text-md {
  font-size: 80%; }

.text-lg {
  font-size: 110%; }

.text-xl {
  font-size: 120%; }

.text-xxl {
  font-size: 130%; }

.text-30 {
  font-size: 30px; }

.text-super {
  font-size: 60px; }

.text-wrap {
  white-space: normal; }

.text-upper {
  text-transform: uppercase; }

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
