:host /deep/ md-nav-list [md-list-item]:active, :host /deep/ md-nav-list [md-list-item]:focus {
  outline: none; }

:host /deep/ md-nav-list [md-list-item].mat-list-item.mat-interaction-disabled .mat-list-item-content {
  background: none !important;
  cursor: auto; }

:host /deep/ md-nav-list [md-list-item].mat-tall .mat-list-item-content {
  height: auto;
  padding-left: 0;
  padding-right: 0; }

:host {
  display: block; }
  :host .panel {
    transition: 1s all ease; }
  :host md-nav-list:first-of-type,
  :host md-list:first-of-type {
    padding-top: 0; }

md-nav-list {
  padding: 0; }

.td-expansion-primary,
.td-expansion-secondary {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px; }

.td-expansion-content,
.td-expansion-summary {
  overflow: hidden; }
