:host {
  display: block; }
  :host .td-expansion-panel-header {
    position: relative;
    outline: none; }
    :host .td-expansion-panel-header:focus:not(.mat-disabled), :host .td-expansion-panel-header:hover:not(.mat-disabled) {
      cursor: pointer; }
    :host .td-expansion-panel-header .td-expansion-panel-header-content {
      height: 48px;
      padding: 0 16px; }

.td-expansion-label,
.td-expansion-sublabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 5px; }
  /deep/ [dir='rtl'] .td-expansion-label, /deep/ [dir='rtl']
  .td-expansion-sublabel {
    margin-left: 5px;
    margin-right: inherit; }
