:host {
  display: block;
  padding: 0 5px;
  min-height: 48px; }
  :host .td-chips-wrapper {
    min-height: 42px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    :host .td-chips-wrapper.td-chips-stacked .mat-basic-chip,
    :host .td-chips-wrapper.td-chips-stacked .td-chips-form-field {
      width: 100%; }
    :host .td-chips-wrapper.td-chips-input-before-position .td-chips-form-field {
      -webkit-box-ordinal-group: 0;
          -ms-flex-order: -1;
              order: -1; }
  :host .td-chip, :host .td-chip > .td-chip-content {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
    :host .td-chip.td-chip-stacked, :host .td-chip > .td-chip-content.td-chip-stacked {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  :host ::ng-deep {
    /* TODO see if we can make styles more abstract to future proof for contact chips */ }
    :host ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 2px; }
    :host ::ng-deep .mat-basic-chip {
      display: inline-block;
      cursor: default;
      border-radius: 16px;
      margin: 8px 8px 0 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      max-width: 100%;
      position: relative; }
      html[dir=rtl] :host ::ng-deep .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      body[dir=rtl] :host ::ng-deep .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      [dir=rtl] :host ::ng-deep .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      :host ::ng-deep .mat-basic-chip bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host ::ng-deep .mat-basic-chip bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
      :host ::ng-deep .mat-basic-chip .td-chip {
        min-height: 32px;
        line-height: 32px;
        font-size: 13px;
        padding: 0 0 0 12px; }
        html[dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        body[dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        [dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        :host ::ng-deep .mat-basic-chip .td-chip bdo[dir=rtl] {
          direction: rtl;
          unicode-bidi: bidi-override; }
        :host ::ng-deep .mat-basic-chip .td-chip bdo[dir=ltr] {
          direction: ltr;
          unicode-bidi: bidi-override; }
        :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] {
          display: inline-block;
          -webkit-box-ordinal-group: -19;
              -ms-flex-order: -20;
                  order: -20;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          height: 32px;
          width: 32px;
          margin: 0 8px 0 -12px;
          border-radius: 50%; }
          html[dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          body[dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          [dir=rtl] :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] bdo[dir=rtl] {
            direction: rtl;
            unicode-bidi: bidi-override; }
          :host ::ng-deep .mat-basic-chip .td-chip [td-chip-avatar] bdo[dir=ltr] {
            direction: ltr;
            unicode-bidi: bidi-override; }
      :host ::ng-deep .mat-basic-chip.td-chip-after-pad {
        padding: 0 12px 0 0; }
        html[dir=rtl] :host ::ng-deep .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        body[dir=rtl] :host ::ng-deep .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        [dir=rtl] :host ::ng-deep .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        :host ::ng-deep .mat-basic-chip.td-chip-after-pad bdo[dir=rtl] {
          direction: rtl;
          unicode-bidi: bidi-override; }
        :host ::ng-deep .mat-basic-chip.td-chip-after-pad bdo[dir=ltr] {
          direction: ltr;
          unicode-bidi: bidi-override; }
      :host ::ng-deep .mat-basic-chip mat-icon.td-chip-removal {
        margin: 0 4px;
        font-size: 21px;
        line-height: 22px; }
        :host ::ng-deep .mat-basic-chip mat-icon.td-chip-removal:hover {
          cursor: pointer; }
    :host ::ng-deep .td-chips-stacked .mat-basic-chip {
      margin: 4px 0; }
      :host ::ng-deep .td-chips-stacked .mat-basic-chip:first-of-type {
        margin: 8px 0 4px; }
      :host ::ng-deep .td-chips-stacked .mat-basic-chip:last-of-type {
        margin: 4px 0 8px; }
  :host .mat-form-field-underline {
    position: relative;
    height: 1px;
    width: 100%;
    bottom: 0; }
    :host .mat-form-field-underline.mat-disabled {
      background-position: 0;
      bottom: -4px;
      background-color: transparent; }
    :host .mat-form-field-underline .mat-form-field-ripple {
      position: absolute;
      height: 2px;
      top: 0;
      width: 100%;
      -webkit-transform-origin: 50%;
              transform-origin: 50%;
      -webkit-transform: scaleX(0.5);
              transform: scaleX(0.5);
      visibility: hidden;
      -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
      transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
      :host .mat-form-field-underline .mat-form-field-ripple.mat-focused {
        visibility: visible;
        -webkit-transform: scaleX(1);
                transform: scaleX(1);
        -webkit-transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), -webkit-transform 150ms linear;
        transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), -webkit-transform 150ms linear;
        transition: transform 150ms linear, background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
        transition: transform 150ms linear, background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2), -webkit-transform 150ms linear; }
  :host ::ng-deep mat-form-field .mat-form-field-underline {
    display: none; }

/*# sourceMappingURL=chips.component.css.map */
