/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
:host {
  display: block;
  padding: 0px 5px 0px 5px;
  min-height: 48px; }
  :host .td-chips-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 42px; }
    :host .td-chips-wrapper.td-chips-stacked {
      flex-direction: column;
      align-items: stretch; }
  :host /deep/ {
    /* TODO see if we can make styles more abstract to future proof for contact chips */ }
    :host /deep/ .mat-input-wrapper {
      padding-bottom: 2px; }
    :host /deep/ .mat-basic-chip {
      display: inline-block;
      cursor: default;
      border-radius: 16px;
      margin: 8px 8px 0 0;
      box-sizing: border-box;
      max-width: 100%;
      position: relative; }
      html[dir=rtl] :host /deep/ .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      body[dir=rtl] :host /deep/ .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      [dir=rtl] :host /deep/ .mat-basic-chip {
        margin: 8px 0 0 8px;
        unicode-bidi: embed; }
      :host /deep/ .mat-basic-chip bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host /deep/ .mat-basic-chip bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
      :host /deep/ .mat-basic-chip .td-chip {
        min-height: 32px;
        font-size: 14px;
        padding: 0 0 0 12px; }
        html[dir=rtl] :host /deep/ .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        body[dir=rtl] :host /deep/ .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        [dir=rtl] :host /deep/ .mat-basic-chip .td-chip {
          padding: 0 12px 0 0;
          unicode-bidi: embed; }
        :host /deep/ .mat-basic-chip .td-chip bdo[dir=rtl] {
          direction: rtl;
          unicode-bidi: bidi-override; }
        :host /deep/ .mat-basic-chip .td-chip bdo[dir=ltr] {
          direction: ltr;
          unicode-bidi: bidi-override; }
        :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] {
          display: flex;
          order: -20;
          justify-content: center;
          align-items: center;
          height: 32px;
          width: 32px;
          flex-shrink: 0;
          margin: 0 8px 0 -12px;
          border-radius: 50%; }
          html[dir=rtl] :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          body[dir=rtl] :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          [dir=rtl] :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] {
            margin: 0 -12px 0 8px;
            unicode-bidi: embed; }
          :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] bdo[dir=rtl] {
            direction: rtl;
            unicode-bidi: bidi-override; }
          :host /deep/ .mat-basic-chip .td-chip [td-chip-avatar] bdo[dir=ltr] {
            direction: ltr;
            unicode-bidi: bidi-override; }
      :host /deep/ .mat-basic-chip.td-chip-after-pad {
        padding: 0 12px 0 0; }
        html[dir=rtl] :host /deep/ .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        body[dir=rtl] :host /deep/ .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        [dir=rtl] :host /deep/ .mat-basic-chip.td-chip-after-pad {
          padding: 0 0 0 12px;
          unicode-bidi: embed; }
        :host /deep/ .mat-basic-chip.td-chip-after-pad bdo[dir=rtl] {
          direction: rtl;
          unicode-bidi: bidi-override; }
        :host /deep/ .mat-basic-chip.td-chip-after-pad bdo[dir=ltr] {
          direction: ltr;
          unicode-bidi: bidi-override; }
      :host /deep/ .mat-basic-chip md-icon.td-chip-removal {
        margin: 0 4px;
        font-size: 21px; }
        :host /deep/ .mat-basic-chip md-icon.td-chip-removal:hover {
          cursor: pointer; }
  :host .mat-input-underline {
    position: relative;
    height: 1px;
    width: 100%;
    bottom: 0; }
    :host .mat-input-underline.mat-disabled {
      background-position: 0;
      bottom: -4px;
      background-color: transparent; }
    :host .mat-input-underline .mat-input-ripple {
      position: absolute;
      height: 2px;
      top: 0;
      width: 100%;
      transform-origin: 50%;
      transform: scaleX(0.5);
      visibility: hidden;
      transition: background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
      :host .mat-input-underline .mat-input-ripple.mat-focused {
        visibility: visible;
        transform: scaleX(1);
        transition: transform 150ms linear, background-color 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

:host /deep/ md-input-container .mat-input-underline {
  display: none; }
