/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
:host {
  display: block;
  padding: 0px 5px 0px 5px; }
  :host /deep/ .td-chip {
    display: inline-block;
    cursor: default;
    border-radius: 16px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 12px;
    box-sizing: border-box;
    max-width: 100%;
    position: relative; }
    html[dir=rtl] :host /deep/ .td-chip {
      margin: 8px 0 0 8px;
      unicode-bidi: embed; }
    body[dir=rtl] :host /deep/ .td-chip {
      margin: 8px 0 0 8px;
      unicode-bidi: embed; }
    [dir=rtl] :host /deep/ .td-chip {
      margin: 8px 0 0 8px;
      unicode-bidi: embed; }
    :host /deep/ .td-chip bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host /deep/ .td-chip bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    :host /deep/ .td-chip md-icon {
      position: relative;
      top: 5px;
      left: 5px;
      right: auto;
      height: 18px;
      width: 18px;
      font-size: 19px; }
      html[dir=rtl] :host /deep/ .td-chip md-icon {
        left: auto;
        unicode-bidi: embed; }
      body[dir=rtl] :host /deep/ .td-chip md-icon {
        left: auto;
        unicode-bidi: embed; }
      [dir=rtl] :host /deep/ .td-chip md-icon {
        left: auto;
        unicode-bidi: embed; }
      :host /deep/ .td-chip md-icon bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host /deep/ .td-chip md-icon bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
      html[dir=rtl] :host /deep/ .td-chip md-icon {
        right: 5px;
        unicode-bidi: embed; }
      body[dir=rtl] :host /deep/ .td-chip md-icon {
        right: 5px;
        unicode-bidi: embed; }
      [dir=rtl] :host /deep/ .td-chip md-icon {
        right: 5px;
        unicode-bidi: embed; }
      :host /deep/ .td-chip md-icon bdo[dir=rtl] {
        direction: rtl;
        unicode-bidi: bidi-override; }
      :host /deep/ .td-chip md-icon bdo[dir=ltr] {
        direction: ltr;
        unicode-bidi: bidi-override; }
      :host /deep/ .td-chip md-icon:hover {
        cursor: pointer; }

.mat-input-underline {
  position: relative;
  height: 1px;
  width: 100%;
  margin-top: 4px; }
  .mat-input-underline.mat-disabled {
    border-top: 0;
    background-position: 0;
    background-size: 4px 1px;
    background-repeat: repeat-x; }
  .mat-input-underline .mat-input-ripple {
    position: absolute;
    height: 2px;
    z-index: 1;
    top: -1px;
    width: 100%;
    transform-origin: top;
    opacity: 0;
    transform: scaleY(0); }
    .mat-input-underline .mat-input-ripple.mat-warn {
      opacity: 1;
      transform: scaleY(1); }
    .mat-input-underline .mat-input-ripple.mat-focused {
      opacity: 1;
      transform: scaleY(1); }

:host /deep/ md-input-container input::-webkit-calendar-picker-indicator {
  display: none; }

:host /deep/ md-input-container .mat-input-underline {
  display: none; }
