/**
 * Mixin that creates a new stacking context.
 * see https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Positioning/Understanding_z_index/The_stacking_context
 */
:host {
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
  padding: 0 28px 0 28px; }
  html[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  body[dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  [dir=rtl] :host {
    text-align: right;
    unicode-bidi: embed; }
  :host bdo[dir=rtl] {
    direction: rtl;
    unicode-bidi: bidi-override; }
  :host bdo[dir=ltr] {
    direction: ltr;
    unicode-bidi: bidi-override; }
  :host:first-child {
    padding-left: 24px;
    padding-right: initial; }
    html[dir=rtl] :host:first-child {
      padding-left: initial;
      unicode-bidi: embed; }
    body[dir=rtl] :host:first-child {
      padding-left: initial;
      unicode-bidi: embed; }
    [dir=rtl] :host:first-child {
      padding-left: initial;
      unicode-bidi: embed; }
    :host:first-child bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:first-child bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] :host:first-child {
      padding-right: 24px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:first-child {
      padding-right: 24px;
      unicode-bidi: embed; }
    [dir=rtl] :host:first-child {
      padding-right: 24px;
      unicode-bidi: embed; }
    :host:first-child bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:first-child bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  :host:last-child {
    padding-left: initial;
    padding-right: 24px; }
    html[dir=rtl] :host:last-child {
      padding-left: 24px;
      unicode-bidi: embed; }
    body[dir=rtl] :host:last-child {
      padding-left: 24px;
      unicode-bidi: embed; }
    [dir=rtl] :host:last-child {
      padding-left: 24px;
      unicode-bidi: embed; }
    :host:last-child bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:last-child bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
    html[dir=rtl] :host:last-child {
      padding-right: initial;
      unicode-bidi: embed; }
    body[dir=rtl] :host:last-child {
      padding-right: initial;
      unicode-bidi: embed; }
    [dir=rtl] :host:last-child {
      padding-right: initial;
      unicode-bidi: embed; }
    :host:last-child bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host:last-child bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
  :host > * {
    vertical-align: middle; }
  :host.mat-clickable {
    cursor: pointer; }
    :host.mat-clickable:focus {
      outline: none; }
  :host.mat-numeric {
    text-align: right; }
    html[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    body[dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    [dir=rtl] :host.mat-numeric {
      text-align: left;
      unicode-bidi: embed; }
    :host.mat-numeric bdo[dir=rtl] {
      direction: rtl;
      unicode-bidi: bidi-override; }
    :host.mat-numeric bdo[dir=ltr] {
      direction: ltr;
      unicode-bidi: bidi-override; }
