:host {
  font-size: 13px;
  vertical-align: middle;
  text-align: left;
  padding: 0 28px 0 28px; }
  :host:first-child {
    padding-left: 24px; }
  :host:last-child {
    padding-right: 24px; }
  :host > * {
    vertical-align: middle; }
  :host.mat-clickable {
    cursor: pointer; }
    :host.mat-clickable:focus {
      outline: none; }
  :host.mat-numeric {
    text-align: right; }
